<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="_components :: headTags"></div>
    <title>Create branch</title>
</head>
<body>
<header>
    <nav th:replace="_components :: navigationBar"></nav>
</header>
<div class="branch-create-from-container">
    <form method="post" class="branch-form" th:action="@{/admin/company/branches/create}" th:object="${branchForm}">
        <p>Create branch with following data:</p>
        <label>
            Name
            <input type="text" th:field="*{name}">
        </label>
        <label>
            City
            <input type="text" th:field="*{city}">
        </label>

        <label>
            Street
            <input type="text" th:field="*{street}">
        </label>

        <label>
            Building no.
            <input type="text" th:field="*{building}">
        </label>
        <label>
            Apartment no.
            <input type="text" th:field="*{apartment}">
        </label>
        <label>
            Zip code
            <input type="text" th:field="*{zipCode}">
        </label>
        <label>
            Branch status
            <select th:field="*{status}">
                <option value="OPEN">OPEN</option>
                <option value="CLOSED">CLOSED</option>
            </select>
        </label>
        <button type="submit">
            Create branch
        </button>
    </form>
</div>
<p> </p>
<form method="get" th:action="@{/admin/company/branches}">
    <button type="submit">Back to branches list</button>
</form>

</body>
</html>