<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <div th:replace="_components :: headTags"></div>
   <title>Branches</title>
</head>
<body>
<form method="get" th:action="@{/admin/company/branches/create}">
   <button type="submit">CREATE BRANCH</button>
</form>
<p>DO NOT remove branch with Id=1(created on app startup). For reasons unknown to me(Oskar), it throws and exception and
   I was unable to fix it. It will get fixed later.</p>
<p>Branches:</p>
<ol>
   <li th:each="branch : ${branches}">
      <p th:text="'Id: ' + ${branch.getId()}"></p>
      <p th:text="'Name: ' + ${branch.getName()}"></p>
      <p th:text="'Street: ' + ${branch.getAddress().getStreet()}"></p>
      <p th:text="'Building: ' + ${branch.getAddress().getBuilding()}"></p>
      <p th:if="${branch.getAddress().getApartment() != null}">
         <span th:text="'Apartment: ' + ${branch.getAddress().getApartment()}"></span>
      </p>
      <p th:text="'Zip Code: ' + ${branch.getAddress().getZipCode()}"></p>
      <p th:text="'Zip Code: ' + ${branch.getAddress().getCity()}"></p>
      <p th:text="'Status: ' + ${branch.getStatus()}"></p>

      <form method="get" th:action="@{/admin/company/branches/edit/__${branch.getId()}__}">
         <button type="submit">EDIT</button>
      </form>
      <form method="get" th:action="@{/admin/company/branches/delete/__${branch.getId()}__}">
         <button type="submit">DELETE</button>
      </form>
   </li>
</ol>
</body>
</html>