<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit branch</title>
</head>
<body>
<div class="branch-edit-from-container">
    <form method="post" class="branch-form" th:action="@{/admin/company/branches/edit/__${branchId}__}"
          th:object="${branchForm}">
        <p>Edit branch with following data:</p>
        <label>
            City
            <input type="text" th:field="*{city}">
        </label>

        <label>
            Street
            <input type="text" th:field="*{street}">
        </label>

        <label>
            Building no.
            <input type="text" th:field="*{building}">
        </label>
        <label>
            Apartment no.
            <input type="text" th:field="*{apartment}">
        </label>
        <label>
            Zip code
            <input type="text" th:field="*{zipCode}">
        </label>
        <label>
            Branch status
            <select th:field="*{status}">
                <option value="OPEN">OPEN</option>
                <option value="CLOSED">CLOSED</option>
            </select>
        </label>
        <button type="submit">
            Edit branch
        </button>
    </form>
</div>

<form method="get" th:action="@{/admin/company/branches}">
    <button type="submit">Back to branches list</button>
</form>

</body>
</html>