<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <div th:replace="_components :: headTags"></div>
   <title>Car List</title>
</head>
<body>
<header th:replace="_components.html :: navigationBar"></header>
<main>
   <p>All cars:</p>
   <ol>
      <li th:each="car : ${carList}">
            <p th:text="${car.getMake()}"></p>
            <p th:text="${car.getModel()}"></p>
            <p th:text="${car.getColor()}"></p>
            <p th:text="${car.getFuelType()}"></p>
            <p th:text="${car.getRentPrice()}"></p>
            <p th:text="${car.getCurrentBranch().getCity()}"></p>
      </li>
   </ol>
   <p>currently available:</p>
   <ol>
      <li th:each="car : ${availableCars}">
            <p th:text="${car.getMake()}"></p>
            <p th:text="${car.getModel()}"></p>
            <p th:text="${car.getColor()}"></p>
            <p th:text="${car.getFuelType()}"></p>
            <p th:text="${car.getRentPrice()}"></p>
            <p th:text="${car.getCurrentBranch().getCity()}"></p>
      </li>
   </ol>
</main>

</body>
</html>