<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="_components :: headTags"></div>
    <meta charset="UTF-8">
    <title>Add client:</title>
</head>
<body>
<header>
    <nav th:replace="_components :: navigationBar"></nav>
</header>
<div class="client-create-from-container">
    <form method="post" class="client-form" th:action="@{/admin/clients/create}" th:object="${clientForm}">
        <p>Input the following information:</p>
        <label>
            First Name
            <input type="text" title="First name" th:field="*{firstName}" required>
        </label>
        <p></p>
        <label>
            Last name
            <input type="text" title="Last name" th:field="*{lastName}" required>
        </label>
        <p></p>
        <label>
            Email
            <input type="email" title="Email" th:field="*{email}" required>
        </label>
        <p></p>
        <label>
            City
            <input type="text" title="City" th:field="*{city}" required>
        </label>
        <p></p>
        <label>
            Street
            <input type="text" title="Street" th:field="*{street}" required>
        </label>
        <p></p>
        <label>
            Building
            <input type="text" title="Building" th:field="*{building}" required>
        </label>
        <p></p>
        <label>
            Apartment no.
            <input type="text" title="Apartment no." th:field="*{apartment}" required>
        </label>
        <p></p>
        <label>
            Zip code
            <input type="text" title="Zip code" th:field="*{zipCode}" required>
        </label>
        <p></p>
        <label>
            Phone Number
            <input type="text" pattern="\d{9}" title="Phone Number" th:field="*{phoneNumber}" required>
        </label>
        <p></p>
        <button type="submit">
            Register client
        </button>
        <p></p>
    </form>
</div>
</body>
<a th:href="@{/admin/clients}">Back to the client list</a>
</html>
