<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="_components :: headTags"></div>
    <meta charset="UTF-8">
    <title>Company</title>
</head>
<body>
<header>
    <nav th:replace="_components :: navigationBar"></nav>
</header>
<div>
    <form method="POST" enctype="multipart/form-data" action="/admin/company/uploadLogo">
        <table>
            <tr>
                <td>File to upload:</td>
                <td><input type="file" name="imageFile"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Upload"/></td>
            </tr>
        </table>
    </form>
</div>
<div>
    <ul>
        <li th:each="logotypeId : ${logotypeIds}">
            <img th:src="@{/admin/company/logo/__${logotypeId}__}">
        </li>
    </ul>
</div>


</body>
</html>