<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
   <div th:replace="_components :: headTags"></div>
   <title>New Reservation</title>
</head>
<body>
<div th:replace="_components :: navigationBar"></div>

<ul>
   <li th:each="car : ${carList}" th:object="${car}">
      <p th:text="*{make}"></p>
      <p th:text="*{model}"></p>
      <p th:text="*{fuelType}"></p>
      <p th:text="*{'PLN ' + rentPrice + ' / day'}"></p>
      <p th:text="*{currentBranch.name}"></p>
   </li>
</ul>

</body>
</html>